@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

//$color-brand-primary: #00225F;
//$color-brand-secondary: #013087;
//$color-brand-ternary: #FFDA30;

//$color-font: #FFFFFF;
//
//$color-default: #FFFFFF;
//$color-success: #18C500;
//$color-warning: #FF9D00;
//$color-danger: #FF0000;

$color-brand-primary: #00225F;
$color-brand-secondary: #FAFAFA;
$color-brand-ternary: #E4E4E4;

$color-font: #273D64;
$color-font-link: #7E3CF9;

$color-default: #FFFFFF;
$color-success: #18C500;
$color-warning: #FF9D00;
$color-danger: #FF0000;

$breadcrumbs-height: 48px;
$color-font-breadcrumbs: #A7A7A7;

body {
    background-color: $color-brand-secondary;
    color: $color-font;

    .wizard {
        .content-wrapper {
            //padding: $breadcrumbs-height 0 60px 0;
            padding: $breadcrumbs-height 0 0 0;

            //.context-menu {
            //position: fixed;
            //bottom: 0;
            //right: 0;
            //margin: .5em;
            //margin: 2em;

            //li,
            //ul > a {
            //background-color: $color-brand-secondary
            //}
            //}

            .breadcrumbs {
                z-index: 100;
                position: fixed;
                top: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: $breadcrumbs-height;
                padding: 0 1em;
                background-color: $color-default;

                button {
                    outline: none;
                    border: none;
                    background: none;
                    color: $color-font-breadcrumbs;
                    font-size: 12px;
                    font-style: italic;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                    }
                }

                svg {
                    color: $color-font-breadcrumbs;
                    margin: 0 .5em;
                }
            }

            .categories {
                padding: 1em;

                .categories__category-list {
                    .category-list__category {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        background-color: $color-default;
                        border: none;
                        border-radius: 4px;

                        &:not(:last-child) {
                            margin-bottom: 1em;
                        }

                        &.category-list__category--has-fail {
                            box-shadow: $color-danger 0 0 15px 1px;
                        }

                        &.category-list__category--is-success {
                            box-shadow: $color-success 0 0 15px 1px;
                        }

                        .category__icon {
                            width: 80px;
                            height: 80px;
                            margin: 1em 0 .5em 0;
                            border-radius: 80px;
                            background-color: $color_brand-secondary;
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .category__label {
                            margin: .5em 0 .5em 0;
                            font-size: 22px;
                            font-weight: bold;
                        }

                        .category__notes {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: .5em 0 .5em 0;

                            .notes_note {
                                font-size: 12px;
                                font-style: italic;
                            }
                        }

                        .category__more {
                            margin: .5em 0 1em 0;

                            svg {
                                color: $color-font-breadcrumbs;
                            }
                        }
                    }

                    .category-list__sub-category {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1em;
                        background-color: $color-default;
                        border: none;
                        border-radius: 4px;

                        &:not(:last-child) {
                            margin-bottom: 1em;
                        }

                        &.category-list__sub-category--has-fail {
                            box-shadow: $color-danger 0 0 15px 1px;
                        }

                        &.category-list__sub-category--is-success {
                            box-shadow: $color-success 0 0 15px 1px;
                        }

                        .sub-category-item__icon {
                            width: 80px;
                            height: 80px;
                            margin: 0 1em 0 0;
                            border-radius: 80px;
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-color: $color_brand-secondary;
                        }

                        .sub-category-item__body {
                            height: 80px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;

                            .sub-category-item__label {
                                text-align: right;
                                font-size: 22px;
                                font-weight: bold;
                            }

                            .sub-category-item__more {
                                svg {
                                    color: $color-font-breadcrumbs;
                                }
                            }
                        }
                    }

                    .category-list__checklist-item {
                        display: flex;
                        justify-content: space-between;
                        padding: 1em;
                        background-color: $color-default;
                        border: none;
                        border-radius: 4px;

                        &:not(:last-child) {
                            margin-bottom: 1em;
                        }

                        .checklist-item__icons {
                            display: flex;

                            .checklist-item__icon {
                                outline: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 36px;
                                height: 36px;
                                border: none;
                                border-radius: 36px;
                                background-color: $color-brand-secondary;

                                &:not(:last-child) {
                                    margin-right: 1em;
                                }
                            }
                        }

                        .checklist-item__body {
                            height: 80px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;

                            .checklist-item__label {
                                text-align: right;
                                font-size: 22px;
                                font-weight: bold;
                            }

                            .checklist-item__more {
                                svg {
                                    color: $color-font-breadcrumbs;
                                }
                            }
                        }
                    }
                }
            }

            .detail {
                .body {
                    padding: 1em 1em 60px 1em;

                    .body__icon--idea {
                        width: 40px;
                        height: 40px;
                        margin: 0 auto;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url("/images/icons/idea.png");
                    }
                }

                .bottom-panel {
                    display: flex;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    height: 60px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1em;
                    background-color: transparent;

                    .bottom-panel__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        background-color: $color-default;
                        border: none;
                        outline: none;
                        border-radius: 32px;
                        color: $color-font;
                        opacity: .6;
                    }
                }
            }
        }
    }
}